<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>

    <!-- コンソール出力 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} [%-5level] %c - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ファイル出力 -->
    <appender name="APPLIATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--ファイル名設定 -->
        <file>C:\Users\Administrator\Documents\dev-workspace\react-springboot\springBoot-web\log\springboot-web.log</file>
        <!-- ログのローテーション設定 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!-- 世代管理されるファイルの命名パターン -->
            <fileNamePattern>/C:\Users\Administrator\Documents\dev-workspace\react-springboot\springBoot-web\log/springboot-web.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>7</maxIndex>
        </rollingPolicy>
        <!--ログ出力フォーマット設定 -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MM/dd HH:mm:ss} [%-5level] %c - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- ロガー -->
    <logger name="appLogger" level="INFO">
      <appender-ref ref="APPLIATION_LOG" />
    </logger>

    <!-- ルート -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>